@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color:#222;
  text-decoration: none;
}
small {
  transition: 0.3s ease-in-out;
}

form {
  margin-bottom: 10px;
  position: relative;
}

nav {
  display: flex;
  padding: 10px 20px;
  background-color:#fff; 
  justify-content:space-between;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.disable {
  pointer-events: none;
  opacity: 0;
}

.register-link{
  margin-top: 15px;
}

.navbar .nav-brand {
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

.navbar .nav-item {
  font-size: 16px;
  transition: 0.3s ease-in-out;
}


.on-hover:hover {
  color: #544AC1;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.img-md {
  width: 350px;
}

.img-sm {
  width: 200px;
}

.container .input-group {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input, .btn{
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}


input, textarea, select {
  transition: 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px rgba(107,99,250, 0.7);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(107,99,250, 0.7);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.input-group-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
  width: 350px;
}

.text {
  font-size: 32px;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
}

select option {
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

.text-left {
  text-align: start;
}
.sm {
  width: 80px;
}

.btn {
  border: none;
  transition: 0.4s ease-in-out;
}

.btn-light:hover{
  background-color: #ed7070;
  color: white;
  border: none;
}

.btn-dark:hover {
  background-color: #222;
  color: white;
  border: none;
}

.list-name {
  font-size: 32px;
}

.list-display {
  margin-top: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: #222;
}

.list-item {
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #fff;
  padding: 5px 10%;
}

.delete {
  display: flex;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}

.delete:hover {
  transform: scale(1.2);
}

.card {
  background-color: #fff;
  margin: 20px;
  padding: 20px 10px;
  width:65%;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  box-shadow: 5px 5px 18px -3px #acacac;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:center;
  position: relative;
}

.card-body{
  margin-top: 5px;
}

.card-item {
  padding: 5px 0;
}

.float-right {
  display: flex;
  position: absolute;
  top: 15px;
  right: 10px;
}


@media only screen and (max-width: 600px) {
  .img-md {
    width: 250px;
  }

  .img-sm {
    width: 170px;
  }

  .card{
    width: 75%;
  }
}

@media only screen and (min-width: 900px) {
  .card{
    width: 600px;
  }
}